@charset "utf-8";
/* CSS Document */

body,div,apan,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,a,img,input{ margin:0; padding:0; border: 0; list-style: none;}
body{ color:#3e3e3e ; font-size:12px; font-family:"宋体";}
a{ color:#3e3e3e; text-decoration:none;}
a:hover{ color:#ff6600; text-decoration:underline;}


/* topBar */
#topBar{ height: 26px;border-bottom: 1px solid #dcdcdc; background: #f5f5f5;}
.topBarIn{ width: 1000px;height: 26px; margin:0 auto; line-height: 26px;}
.barLeft{ float: left;width: 270px;height: 26px;}
.one{float: left; background: url(../images/site-nav-bg.png) no-repeat right 7px; padding-right:10px; margin-right:10PX;}
.two span{ background: url(../images/mobile.gif) no-repeat left center; display: block; padding-left:18px;}
.three a{ background: url(../images/arrow.gif) no-repeat right center; padding-right:10px} 
.barLeft p{ float: left;}

.barRight{ float: right; width: 508px;height: 26px;}
.barRight li{ margin-right:5px; float: left;}
.barRight .two span{ background: url(../images/gw.png) no-repeat left center;}
.barRight li strong{ color:#ff5500; margin:0 3px;}
/* header */
#header{ width: 1000px;height: 85px; margin:16px auto 0; }
#header h1{ margin-top:20px;float: left; }
.logoRight{ width: 660px;height: 85px; float: right;}
.logoRight .top{ height: 23px;}
.logoRight .top a{ float: left; margin-right:15px; line-height: 23px;}
.logoRight .top .baby{ width:56px; height: 23px; background: url(../images/search-bg1.jpg); color:#fff; text-align:center; font-weight: bold;}
.logoRight .top span{ color:#d84600;}
.logoRight .center{ overflow:hidden;}
.logoRight .center span{ background: url(../images/search-bg2.jpg) ; width: 7px;height: 34px; float: left;}
.logoRight .center .txt{float: left; border-top: 3px solid #f27b04; border-bottom: 3px solid #f27b04; background:#fff url(../images/search-bg3.jpg) no-repeat left center;width: 444px;height: 28px; padding-left:20px; outline:none;}
.logoRight .center .sub{ background: url(../images/search-bg4.jpg); float: left;width: 132px;height: 34px; cursor:pointer;  outline:none;}
.logoRight .center p{ float: right; line-height:17px; } 

.logoRight .bottom{  height: 19px;line-height: 19px; padding-top:9px;}
.logoRight .bottom a{ float: left; margin-right:8px;}
.logoRight .bottom .yu{ color:#f50;}
.logoRight .bottom .more{ width: 45px;height: 17px;border: 1px solid #d8d8d8; background: #fafafa url(../images/arrow1.gif) no-repeat 38px center; text-align: center; line-height: 17px;}
/* nav */
#nav{ width: 1000px;height: 42px;  border-bottom: 2px solid #f27b03; margin:0 auto; }
.navList{ width: 690px;height: 24px; margin:18px 0 0 7px; float: left; line-height: 24px; font-weight: bold; text-align: center;}
.navList li{ float: left;}
.navList .index{ width: 58px;height: 23px;border: 1px solid #d74700; border-bottom: none; background: #f27b03; color:#fff; margin-right:18px;}
.navList a{ padding:0 16px; color:#db4701; height: 23px;display: block; font-size: 14px; border: 1px solid #fff; border-bottom: none;}
.navList a:hover{  border: 1px solid #ff9900; border-bottom: none;  background: #fef6ed; text-decoration: none;}
.navRight{ width: 240px;height: 42px; float: right;}
.navRight img{ margin-top:2px;}
.navRight a{ float: left; }
.navRight .font{ margin:24px 0 0 15px; color:#db4701; font-weight: bold;} 

/* content */
#content{ width: 1000px;height: 410px; margin:0 auto;}
.meun{ width: 198px;height: 410px;float: left; background: url(../images/shadow.jpg) no-repeat right 187px;}
.meunIn{ width: 178px;height: 400px; border: 2px solid #ff9900; border-top: none; padding:0 5px;}
.meunIn .top{ height: 35px; line-height: 35px;}
.meunIn .top h3{ margin-left:3px; float: left;}
.meunIn .top span{ float: right;}
.meunIn .top a{ background: url(../images/arrow1.gif) no-repeat right center; padding-right:6px;}
.meunIn dl{ padding-left:8px; border-top: 1px solid #fcdfbe; margin-bottom: 10px;}
.meunIn dl dt{ height: 21px; font-weight: bold; margin-top:5px; background: url(../images/icon.png) no-repeat left top; padding-left:22px; line-height: 21px;}
.meunIn dl dd{ line-height: 20px; overflow:hidden;}
.meunIn dd a{ margin-left:3px; float: left; margin-right:11px;}

.contentRight{ width: 802px;height: 400px;float: right; padding-top:10px;}
.contentRight .con_R_l{ float: left;width: 492px;height: 400px;}
.con_R_l .banner{ width: 490px;height: 170px; position:relative; border: 1px solid #d8d8d8;}
.con_R_l .banner ol{ position:absolute; right:9px; bottom:9px;}
.con_R_l .banner li{float: left;width: 18px;height: 18px;border: 1px solid #d8d8d8; line-height: 18px; text-align:center;  color:#f60; background: #fff; cursor:pointer; opacity:0.6;}
.con_R_l .banner .li1{ background: #f60; color:#fff; opacity:1;font-weight: bold;}


.tmall{ border-bottom: 1px solid #eaeaea; height: 22px; margin-top:15px;}
.tmall p{ float: left;}
.tmall .tmallRight{ float: right; width: 220px; }
.tmallRight a{ float: left;}
.tmallRight a strong{ background: url(../images/dot.jpg) no-repeat right center; padding-right:9px; margin-right:5px;} 
.tmallRight .arr{ float: right; width: 32px;height: 14px;}
.tmallRight .arr span{ width: 14px;height: 12px;border: 1px solid #d8d8d8;float: left; background: url(../images/arrow2.jpg) no-repeat center bottom; cursor:pointer;}
.tmallRight .arr .arrL{background-position: center top; }

.advs{height: 135px;}
.advs span{ width: 12px;height: 135px; float: left; background: url(../images/arrow3.jpg) no-repeat right center; cursor:pointer;}
.advs .right{ background-position: left center;}
.advs ul{ float: left;}
.advs ul li{ float: left; margin-left:7px;} 

.logos{  padding-left:20px;}
.logos li{ float: left; margin-right:5px;}



.contentRight .con_R_r{ float: right; width: 300px;height: 400px;}
.reg{ overflow:hidden;}
.reg a{ height: 50px; float: left; background: url(../images/status.jpg) no-repeat left top;}
.reg .a1{ width: 105px;height: 50px; }
.reg .a2{ width: 92px;height: 50px;background-position: -105px top;}
.reg .a3{ width: 103px;height: 50px; background-position: -197px top;}

.reg a:hover{ background: url(../images/status.jpg) no-repeat left bottom;}
.reg .a2:hover{ width: 94px;background-position: -103px bottom; margin-left:-2px;}
.reg .a3:hover{ width: 105px; background-position: -195px bottom; margin-left:-2px;} 


.tab1{ width: 298px;height: 89px; margin-top:10px; border: 1px solid #d5d5d5;}
.tab1 .top{height: 25px;background:#eeeeee ; padding:4px 0 0 7px; }

.tab1 .top ul{ overflow:hidden;}
.tab1 .top ul li{ float: left; margin:0 14px; line-height: 24px;}
.tab1 .top .gonggao{ width: 52px;height: 25px; background: #fff; border: 1px solid #d5d5d5; border-bottom:none; margin:0; text-align:center;}

.tab1 .down { padding:10px 0 0 12px; line-height: 22px;}
.tab1 .down a{ margin-right:10px;}
.tab1 .down .a1{ color:#f60;}

.tab2 { margin-top:0; border-top: none;height: 175px;}
.tab2 .top h3{ line-height: 25px; margin-right:18px; float: left;}
.tab2 .down dl{ height: 22px; margin-bottom: 10px; }
.tab2 .down dt{float: left; width: 50px;}
.tab2 .down dd{float: left;width: 230px;}
.tab2 .num input{ height: 20px;width: 117px; color:#999;border: 1px solid #cecece; background: url(../images/line.png);}
.tab2 .down strong{color:#f60; margin-left:5px;}
.tab2 .sex input{ float: left; margin-top:5px;}
.tab2 .sex span,.tab2 .sex select{ float: left; margin:0 7px 0 4px;}
.tab2 .down .but{ width: 68px;height: 23px;background:#ed7c12 ; border: 1px solid #d84600; color:#fff; float: left; margin-right:5px; font-size: 12px; line-height: 20px;} 
.tab2 .down .lan{ color:#0b72a4;}

.adBanner{border: 1px solid #d5d5d5; margin-top:10px; width: 298px;height: 52px;}













