@charset "utf-8";
/* CSS Document */

div,span,p,ul,li,ol,dl,dt,dd,h1,h2,h3,h4,h5,a,img,input,h6,tr,td,th{ margin:0; padding:0; border: 0; list-style: none;}
body{ color:#464646 ; font-size:12px; font-family:"微软雅黑";}
a{ color:#636363; text-decoration:none;}
a:hover{ color:#009ce0;}


/*bread*/
#bread{ height: 26px; background:#f5f5f5;}
.breadIn{ width: 980px; height: 26px; margin:0 auto;}
.breadIn ul{ float: right; width: 455px; height: 26px; line-height: 26px; }
.breadIn li{float: left; margin-right:18px; color:red;}
.breadIn .current{ width: 75px; margin-right:0; background: url(../images/lan.gif) no-repeat right center;}

/*header*/
#header{ width: 980px; height: 66px; margin:0 auto;}
#header h1{width: 188px;height: 37px; margin:15px 0 0 10px; float: left;}
.headerIn{float: right; width: 565px;  }
.headerIn .num{ float: left;}
.headerIn span{ margin-top:14px; line-height:17px; font-weight: bold; color:#a1a1b9; display: block;}
.headerIn p{ line-height: 25px; font-size: 25px; font-weight: bold; color:red;}
.headerIn .online,.headerIn .phone{ border-left: 1px solid #cccccc; width: 158px;height: 34px;float: left; margin:17px 0 0 20px; }
.headerIn .online{ background: url(../images/online.gif) no-repeat center bottom;}
.headerIn .phone{ background: url(../images/online.gif) no-repeat center bottom;}
.headerIn .yt_wx{ float: right; margin-top:23px;}

/*nav*/
#nav{ background: #eeeeee; height: 39px;}
.navIn{ width: 980px; height: 39px; margin:0 auto;}
.navIn li{ width: 163px; line-height: 39px; font-size: 18px; text-align:center; float: left;}
.navIn li a{ color:#000;} 
.navIn li a:hover{ color:#000; border-top: 2px solid #0160b4; background: #fff; width: 163px;height: 37px; display: block;} 

/*banner*/
#banner{height: 450px; background: url(../images/2016IbIPPc7F7M.jpg) no-repeat center;}


/*hot*/
#hot{ width: 980px;height: 132px;background: #009ce0; margin:28px auto 0;}
#hot h2{ margin-left:30px; margin-right:30px; line-height: 132px; font-weight: normal; float: left; color:#fff;}
#hot a { width: 132px;height: 102px; text-align: center; margin-right:25px; padding-top:30px; font-size: 14px;  float: left; line-height: 42px; position:relative;}
#hot a span{ color:#fff; position:absolute; top:80px; left: 0 ;width: 132px; }
#hot a:hover{ background: #0160b4;}
/*gushi*/
#gushi{ width: 980px;height: 89px; margin:36px auto 0; position:relative;}
#gushi ul li{ width: 306px;height: 89px; float: left; }
#gushi .left,#gushu .right{ padding-left:23px; }
#gushi .arr_l{ position:absolute; top:50%; left:0; margin-top:-9px; width: 15px;height: 18px;background: url(../images/btn.png) ; }
#gushi .arr_r{ position:absolute; top:50%; right:0; margin-top:-9px; width: 15px;height: 18px;background: url(../images/btn.png) -15px 0;   }

/*content*/
#content{ width: 980px; height: 246px; margin:40px auto 0;}
#content .con{ width: 306px;height: 246px;border-bottom: 1px solid #e1e1e1; float: left;}
.con_top{ border: 1px solid #e1e1e1;border-left: none;  background: #f5f5f5 ;height: 46px;width: 304px; line-height: 46px; position:relative;} 
.current{ margin:0 25px;}
.con_top .news{padding:0 15px; line-height: 44px; text-align:center;float: left; color:#464646; font-size: 16px; }
.con_top .news2{  border-top: 3px solid #009ce0; border-right: 1px solid #e1e1e1; background: #fff; color:#009ce0;}
.con_top .news:hover{  border-top: 3px solid #009ce0; border-right: 1px solid #e1e1e1; background: #fff; color:#009ce0;}
.con_top span a{ position:absolute; right:10px;background: url(../images/mone.png) no-repeat left center; padding-left:10px;}
.con_down li dl{ width: 306px;height: 73px; margin-top:20px;}
.con_down dl dt{ width: 120px;height: 73px;float: left;}
.con_down dl dd{ width: 168px;float: right;line-height: 22px;}
.con_down dd a{ color:#636363; }
.con_down dd a:hover{ color:#009ce0;}
.con_down dd span{ display: block; color:#a1a1a1;}
.current .con_center_down{ margin-top:20px;}
.con_center_down .con_cen_down_l{ float: left; background: url(../images/loginbg.jpg);width: 153px;height: 124px; }
.con_center_down .con_cen_down_r{ float: right;  }
.con_cen_down_r .tu{ background: url(../images/loginbtn2.png) no-repeat center top; width: 139px;height: 47px;display: block;}
.con_cen_down_r span{ display: block; color:red;line-height: 22px;}
.con_cen_down_r .zzi{ color:#000;line-height: 26px; font-size: 14px;}
.con_cen_down_r .zzi:hover{ color:#009ce0;}
.current .newInfo{ clear:both; color:#555555; line-height: 40px; margin-top:18px;}


.three .erweim{ margin-top:20px;}
.erweim .erweim_l{ background: url(../images/weixin.jpg); width: 172px;height: 172px;  float: left;}
.erweim .sao{ width: 120px; float: right; line-height: 22px; }
.erweim .sao span{ color:#009ce0;font-size: 16px;line-height: 30px;}
.erweim .sao p{color:#666666; font-size: 14px;}


/*footer*/
#footer{ height: 435px;background: #666464; margin-top:40px;}

.footerIn{ width: 980px;height: 435px; margin:0 auto; position:relative;}
.footerIn h4{ line-height: 60px; color:#009ce0; font-size: 24px;} 
.footerIn dl{ margin-top:22px; width: 100px;float: left; height: 255px;}
.footerIn .current{ width: 108px;}
.footerIn dl dt{ line-height: 33px; font-size: 16px; color:#fff;}
.footerIn dl dd{ line-height: 20px; }
.footerIn dd a{ line-height: 20px; color:#ccc; display: block;}
.footerIn dd a:hover{  color:#009ce0;}

.footerIn .footer_l{ float: left;}
.footer_l ul{ line-height: 20px;width: 640px;height: 20px;  float: left;}
.footer_l  li{ margin-right:15px; float: left;}
.footer_l li a{ color:#fff;}
.footer_l li a:hover{ color:#009ce0;}

.footer_l .company{ width: 217px; line-height: 27px; height: 27px; font-family:"宋体" ;  position:absolute;top:365px; background: url(../images/comicon.gif) no-repeat right center  #82878f ;}
.footer_l .company h5{ font-weight: normal; padding-left:10px;  color:#fff; font-size: 12px; }
.footer_l .banquan{ width: 555px;height: 20px;  position:absolute;top:405px; left:0;}
.footer_l .banquan span{ color:#464646;}
.footer_l .banquan .two{ width: 160px; height: 20px; padding-left:20px; background: url(../images/wangjing.png) no-repeat left center;}
.footer_l .banquan .three{ color:#959595;}
.footerIn .share{ float: right;}
.share ul{ width: 220px;height: 40px;}
.share ul li{ width: 35px;height: 35px; float: left; margin-right:5px; line-height: 35px; text-align:center; color:#959595;}




/*----list-----*/
/*listBanner*/
#listBanner{ background:#f2f2f2 url(../images/listbanner.jpg) no-repeat center top; padding:300px 0 40px; overflow:hidden;}
.main{ width: 980px; margin:0 auto; background: #fff; overflow:hidden;}
.mainIn{ width: 930px; margin:0 auto; }
.main .bread{ line-height: 45px; height: 45px; width: 930px; border-bottom: 1px solid #e1e1e1;}
.bread .a1{ color:#009ce0;}
.mainIn .meun{ width: 930px; margin-top:27px;}
.meun .meunIn{ width: 290px;height: 358px; border-bottom: 1px solid #009ce0; float: left; margin-bottom: 40px; overflow:hidden;  }
.meun .meunCurrent{ margin:0 28px;}

.meunIn h6{ font-size: 20px; line-height:50px; height: 50px;}
.meunIn .bg{ width: 290px;height: 170px; }
.meunIn p{ margin-top:20px;line-height: 18px;}
.meunIn a{ color:#009ce0; background: url(../images/listicon.png) no-repeat 80px center;  margin-top:55px;display: block;  font-size: 16px;}
#footer_list{ height: 435px;background: #666464; }


/* detial */
#detialBanner{ background:#f2f2f2 url(../images/detial_bg.jpg) no-repeat center top; padding:115px 0 40px; overflow:hidden;} 
.content{ width: 980px; margin:0 auto;}  
.content .con_left{ width: 210px;height: 780px; float: left;}
.con_left_top { width: 210px;height: 516px; background: url(../images/left_menu_2.png) no-repeat left 500PX;}
.con_left_bg1{ width: 210px; background: url(../images/left_menu.png) repeat-y 0 center; }
.con_left_bg2{ width: 195px;height: 495px; border: 1px solid #e1e1e1; border-top: 4px solid #009ce0;}
.con_left_bg2 h3{height: 86px; margin:16px 0 0 30px; font-size: 20px;font-weight: normal; line-height: 90px; padding-left:57px;background: url(../images/servicenav.png) no-repeat left center;}
.con_left_bg2 ul li{ border-bottom: 1px dashed #c2c2c2;font-size: 14px;line-height: 39px;background: url(../images/delist.png) no-repeat 160px center; }
.con_left_bg2 li a{ padding-left:45px; }
.con_left_bg2 ul .bg{ background: none;}
.con_left_bg2 ul .li1{ border-top:1px dashed #c2c2c2 ;}
.con_left_bg2 .bg dt{ height: 39px;background: #f2f2f2 url(../images/delist.png) no-repeat 160px center;}
.con_left_bg2 .bg a{color:#009ce0;  padding-left:45px;}
.con_left_bg2 .bg dd a{margin-bottom: 8px; line-height: 20px; display: block; margin-left:46px; color:#464646;}
.con_left_bg2 .bg dd .a1{ color:#009ce0;background: url(../images/lis04.png) no-repeat left center; padding-left:9px; margin-top:5px;} 
.con_left_down{ width: 210px;height:260px; background: url(../images/left_menu_2.png) no-repeat left 246px; }
.con_left_down .con_left_bg3{height: 236px;border: 1px solid #e1e1e1; width: 195px; padding-bottom:10px; text-align:center; }
.con_left_bg3 h2{ margin:18px 0 25px;font-weight: normal;font-size: 20px;}
.con_left_bg3 dl dd{ line-height: 26px;}
.con_left_bg3 dd a{ font-weight: bold; font-size: 20px; color:#464646;}




.content .con_right{ width: 770px; float: right; background:#FFF;}
.content .con_right .bread{  margin:17px 26px 0 0;  height: 40px; }
.con_right .bread p{ float: right;}
.con_right .bread a{ background: url(../images/mone.png) no-repeat right center; padding-right:13px; margin-right:10px;}
.con_right .bread  .a2{ background: none;}
.con_right .con_r_center{ width: 716px;  margin:0 auto ;}
.con_right .con_r_center h4{ color:#009ce0;font-size: 22px;font-weight: normal; border-bottom: 1px solid #d7d7d7; line-height: 60px;}
.con_r_center li{ border-bottom:1px solid #d7d7d7 ; padding:27px 0 60px; overflow:hidden;}
.con_r_center li div{ background: url(../images/service_list3.gif); width: 79px;height: 79px;float: left; font-size: 40px; text-align:center;line-height: 79px; color:#fff; margin-left:30px;}
.con_r_center li p{width: 525px;line-height: 20px; float: right;}
.con_r_center .two span{ background: url(../images/listo2.png) no-repeat left center; padding-left:25px; display: block;}
.table {width: 525px;line-height: 20px; float: right; margin-top:30px; }
.table  table{ width: 518px;height: 446px;border: 1px solid #d7d7d7; line-height: 37px; border-collapse:collapse;font-size: 12px; font-weight: normal;}
.table table td,.table table th{ border: 1px solid #d7d7d7; padding-left:17px;  }
.table table th{ color:#009ce0; background: #f3f3f3; font-size: 14px;;}
.con_newslist{ line-height: 20px;color:red; margin:25px 45px 85px;}
.con_newslist span{ display: block;}
.hebing h3{ color:#08b7f8;}
.hebing span{line-height: 20px; margin-bottom:20px; display:block;}







 





