
body{


	background-image: url(../image/login_bgx.gif);
}


.login{

	text-align: center;
	width: 300px;
	height: 200px;
	background-color: white;
	margin: auto;
	position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}

.login h3{
	
	margin: 10px auto 0;
	color: #666666;
}

.login div input:focus {
    border: 1px solid #7EC0EE;
}

.login div input{
	
	margin: 5px auto 0;
	width: 200px;
	height: 22px;

}

.login_btn input{
	
	line-height: 30px;
	border: none;
	margin: 20px auto 0px;
	background-color: #FFA07A;
	width: 200px;
	height: 30px;
}



